:root {
    --body:#1E252B;
    --logo:rgba(255, 255, 255, 0.90);
    --nav:rgba(255, 255, 255, 0.55);
    --header:rgba(255, 255, 255, 0.78);
    --header-btn:#FF6E30;
    --white:#FDF5FF;
    --form:rgba(255, 255, 255, 0.10);
    --form-text:#283036;
    --hero-btn:#FFF;
    --hero-input:rgba(255, 255, 255, 0.38);
    --item:rgba(40, 48, 54, 0.60);
    --item-bg:#1E252B;
    --price:rgba(255, 165, 55, 0.55);
    --load:rgba(255, 255, 255, .1019607843);
    --border:rgba(255, 255, 255, 0.05);
    --red:red;
    --brand:rgba(44, 53, 61, 0.20);
    --brand-title:rgba(255, 255, 255, 0.80);
    --line:#283036;
    --footer-line:rgba(255,255,255,.1490196078);
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--body);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1246px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 26px;
    padding-bottom: 58px;
}

.header-ul {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 257px;
}

.header .container{
    display: flex;
}

.header-nav{
    display: flex;
    margin-right:auto;
}

.header-logo {
    color: var(--logo);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
}

.header-span {
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-link {
    color: var(--nav);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-link {
    color: var(--header);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
padding-right: 50px;
}

.header-btn {
    border:none;
    border-radius: 8px;
background-color: var(--header-btn);
color: var(--white);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
padding: 12px 28px;
cursor: pointer;
}

.hero {
    background-image: url(../img/illustration.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 100px;
}

.hero-title {
    color: var(--logo);
font-size: 50px;
font-weight: 500;
line-height: 1.4;
width: 600px;
}

.hero-span {
    color: var(--header-btn);
font-size: 50px;
font-weight: 500;
line-height: 140%;
}

.hero-text {
    color: var(--nav);
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 487px;
margin-top: 30px;
margin-bottom: 60px;
}

.hero-form {
    padding: 8px 11px 8px 55px;
    border-radius: 15px;
border: 1.5px solid var(--form);
background-color: var(--form-text);
width: 498px;
display: flex;
gap: 106px;
margin-bottom: 121px;
}

.hero-btn {
    border-radius: 8px;
background: var(--header-btn);
padding: 12px 36px;
border: none;
display: block;
cursor: pointer;
color: var(--hero-btn);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
}

.hero-input {
    color: var(--hero-input);
font-size: 14px;
font-weight: 400;
line-height: 1.5;
background-color: transparent;
display: block;
border: none;
width: 195px;
}

.hero-ul {
    display: flex;
    gap: 31px;
}

.tools {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.tools-title {
    color: var(--logo);
text-align: center;
font-size: 48px;
font-weight: 500;
line-height: 1.3;
margin-bottom: 25px;
}

.tools-text {
    color: var(--nav);
font-size: 18px;
font-weight: 500;
line-height: 30px;
width: 427px;
margin-right: auto;
margin-left: auto;
text-align: center;
}

.tools-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
}

.tools-item:hover {
    border-radius: 15px;
background: var(--item);
backdrop-filter: blur(25px);
width: 392px;
background-image: url(../img/ellipse-tool.png);
background-repeat: no-repeat;
background-position: top right;
}

.tools-item {
    border-radius: 15px;
background: var(--item-bg);
padding: 34px 33px 40px 33px;
}

.tools-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 31px;
}

.tools-name {
    color: var(--header);
font-size: 24px;
font-weight: 500;
line-height: 1.5;
text-align: start;
}

.tools-price {
    color: var(--price);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
text-align: start;
}

.tools-description {
    color: var(--nav);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
width: 326px;
margin-bottom: 37px;
text-align: start;
}

.tools-visit {
    color: var(--nav);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
margin-left: auto;
background: var(--body);
border: none;
padding: 9px 35px;
cursor: pointer;
border-radius: 8px;
}

.tools-visit:hover {
    border-radius: 8px;
background: var(--header-btn);
color: var(--hero-btn);
}

.tools-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.tools-follow {
    display: flex;
    align-items: center;
}

.tools-boxs {
    display: flex;
    gap: 18px;
}

.tools-load {
background: var(--body);
border: none;
font-size: 20px;
font-weight: 500;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
margin-top: 100px;
border: 1px solid var(--load);
background-color: transparent;
color: var(--header-btn);
padding: 17px 38px;
display: inline-flex;
cursor: pointer;
border-radius: 8px;
font-size: 16px;
font-weight: 600;
line-height: 150%;
letter-spacing: 0;
text-align: left;
}

.brand {
    border-radius: 25px;
border: 2px solid var(--border);
background: var(--brand);
backdrop-filter: var(--red);
padding-top: 55px;
padding-bottom: 56px;
background-image: url(../img/elipse.png);
background-repeat: no-repeat;
background-position: top left;
}

.brand-title {
    color: var(--brand-title);
font-size: 24px;
font-weight: 500;
line-height: 1.5;
text-align: center;
margin-bottom: 56px;
}

.brand-list{
    padding:0 auto;
    align-items:center;
    display:flex;
    justify-content: center;
    }

.brand-item {
    margin-right:107px;
    }

.brand-item:last-child {
    margin-right:0;
}

.newcomer {
    padding-top: 200px;
    padding-bottom: 200px;
}

.newcome-box {
    display: flex;
}

.newcomer-title {
    color: var(--logo);
font-size: 48px;
font-weight: 500;
line-height: 1.3;
}

.newcomer-text {
    color: var(--nav);
font-size: 18px;
font-weight: 500;
line-height: 1.66;
width: 427px;
margin-bottom: 60px;
margin-top: 30px;
}

.newcom-btn {
    border-radius: 8px;
background-color: var(--header-btn);
color: var(--hero-btn);
font-size: 18px;
font-weight: 500;
line-height: 1.5;
padding: 15px 40px;
cursor: pointer;
border: none;
}

.newcomer-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.newcomer-item:hover {
    border-radius: 15px;
background: var(--item);
backdrop-filter: blur(25px);
background-image: url(../img/elipse-newcomer.png);
background-repeat: no-repeat;
background-position: top right;
}

.newcomer-item {
    border-radius: 15px;
background: var(--body);
padding: 34px 33px 40px 33px;
}

.newcomer-box {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 31px;
}

.newcomer-name {
    color: var(--header);
font-size: 24px;
font-weight: 500;
line-height: 1.5;
}

.newcomer-price {
    color: var(--price);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
}

.newcomer-description {
    color: var(--nav);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
width: 245px;
margin-bottom: 37px;
}

.newcomer-visit {
margin-left: auto;
background: var(--body);
border: none;
color: var(--nav);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
padding: 9px 35px;
cursor: pointer;
border-radius: 8px;
}

.newcomer-visit:hover {
    border-radius: 8px;
background: var(--header-btn);
color: var(--hero-btn);
}

.newcomer-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.newcomer-follow {
    display: flex;
    align-items: center;
}

.newcomer-boxs {
    display: flex;
    gap: 18px;
}

.testimonial-list {
    display: flex;
    align-items: center;
}

.testimonial-img {
    background-image: url(./elipse1) url(./elipse2)
}

.testimonial-text {
    color: var(--header);
font-size: 14px;
font-weight: 400;
line-height: 2.14;
letter-spacing: 0.21px;
width: 393px;
margin-left: 57px;
}

.testimonial-lins {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.line {
    width: 44px;
    height: 6px;
    border-radius: 4px;
    background: var(--line);
    margin-top: 101px;
}

.current {
    background: var(--header-btn);
}

.join {
    padding-top: 250px;
}

.join-title {
    color: var(--logo);
    display: flex;
    justify-content: center;
    align-items:center;
font-size: 48px;
font-weight: 500;
line-height: 1.3;
margin-bottom: 25px;
}

.join-text {
    color: var(--nav);
    display: flex;
    justify-content: center;
    align-items:center;
font-size: 18px;
font-weight: 500;
line-height: 1.66;
width: 427px;
margin-right: auto;
margin-left: auto;
text-align: center;
margin-bottom: 100px;
}

.join-form {
    padding: 8px 11px 8px 55px;
    border-radius: 15px;
border: 1.5px solid var(--form);
background-color: var(--line);
width: 549px;
display: flex;
gap: 106px;
margin-bottom: 121px;
margin-left: auto;
margin-right: auto;
}

.join-btn {
    border-radius: 8px;
background: var(--header-btn);
padding: 12px 36px;
border: none;
display: block;
cursor: pointer;
color: var(--hero-btn);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
margin-left: auto;
}

.join-input {
    color: var(--hero-input);
font-size: 14px;
font-weight: 400;
line-height: 1.5;
background-color: transparent;
display: block;
border: none;
width: 126px;
}

.footer {
    border-top: 1px solid var(--footer-line);
    display: block;
}

.footer-all {
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.footer-ul {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 26px;
}

.footer-logo {
    color: var(--logo);
font-size: 22px;
font-weight: 600;
line-height: 1.5;
}

.footer-copyright {
    color: var(--logo);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
margin-bottom: 21px;
}

.footer-text {
    color: var(--nav);
font-size: 14px;
font-weight: 400;
line-height: 1.78;
width: 260px;
}

.address-title {
    color: var(--logo);
font-size: 20px;
font-weight: 500;
line-height: 1.5;
margin-bottom: 20px;
}

.addres-item {
    margin-bottom: 10px;
}

.addres-item:last-child {
    margin-bottom: 0;
}

.addres-link {
    color: var(--nav);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
margin-bottom: 10px;
font-style: normal;
}

.footer-title {
    color: var(--logo);
font-size: 20px;
font-weight: 500;
line-height: 1.5;
margin-bottom: 20px;
}

.footer-item {
    margin-bottom: 10px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.footer-link {
    color: var(--nav);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
}