/* Інше */

:root {
    --body:#1E252B;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--body);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* Container */
.container {
    width: 1224px;
    outline: solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header {
    padding-top: 24px;
    padding-bottom: 25px ;
}

.header .container{
    display: flex;
}

.header-nav{
    display: flex;
    margin-right:auto;
}

.header-logo {

font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-span {
font-family: Raleway;

font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.contacts-link:hover,
.nav-link:hover {

}

.nav-link {
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}