/* Інше */

:root {
    --body:#1E252B;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--body);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* Container */
.container {
    width: 1224px;
    outline: solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header {
    padding-top: 26px;
    padding-bottom: 58px;
}

.header .container{
    display: flex;
}

.header-nav{
    display: flex;
    margin-right:auto;
}

.header-img {
    /* margin-top: 31px; */
}

.header-logo {
    color: rgba(255, 255, 255, 0.90);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 12px;
    margin-right: 257px;
}

.header-span {
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.contacts-link:hover,
.nav-link:hover {

}

.nav-link {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.header-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
    color: rgba(255, 255, 255, 0.78);
font-size: 16px;
font-weight: 600;
line-height: 1.5;
}

.header-btn {
    border:none;
    border-radius: 8px;
background-color: #FF6E30;
color: #FDF5FF;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
}

/* hero */

.hero {

}

.hero-title {
    color: rgba(255, 255, 255, 0.90);
font-size: 50px;
font-weight: 500;
line-height: 1.4; /* 70px */
}

.hero-span {
    color: #FF6E30;
font-size: 50px;
font-weight: 500;
line-height: 140%;
}

.hero-text {
    color: rgba(255, 255, 255, 0.55);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.hero-div {
    border-radius: 15px;
border: 1.5px solid rgba(255, 255, 255, 0.10);
background: #283036;
}